body {
      background: cyan;
	  width: 800px;
	  display: grid;
	  grid-template-columns: 200px auto;
	  grid-template-rows: 200px auto 200px;
	  margin: auto;
	  border: black 2px solid;
}
header {
	   grid-column: 1/3;
	   grid-row: 1/2;
}
footer {
	   grid-column: 1/3;
	   grid-row: 3/4;
}
nav {
	   grid-column: 1/2;
	   grid-row: 2/3;
}
main {
	   grid-column: 2/3;
	   grid-row: 2/3;
}
.gallery {
	  border: black 2px solid;
}
body {font-family: 'Quicksand', sans-serif; 
}
h1 {
font-family: 'Lilita One', cursive;
}